<?xml version="1.0"?>
<!--
/**
 * Module for Eshopinion service
 *
 * @category    Hackathongirona
 * @package     Hackathongirona_Eshopinion
 * @author      Hackathon Girona 2014
 * @author      Rubén González <rbngzlv@gmail.com>
 * @license     http://opensource.org/licenses/MIT  The MIT License (MIT)
 */
-->
<config>
    <modules>
        <Hackathongirona_Eshopinion>
            <version>1.0.0</version>
        </Hackathongirona_Eshopinion>
    </modules>
    <global>
        <blocks>
            <hackathongi_eshopinion>
                <class>Hackathongirona_Eshopinion_Block</class>
            </hackathongi_eshopinion>
            <hackathongi_eshopinion_adminhtml>
                <class>Hackathongirona_Eshopinion_Block_Adminhtml</class>
            </hackathongi_eshopinion_adminhtml>
        </blocks>
        <models>
            <hackathongi_eshopinion>
                <class>Hackathongirona_Eshopinion_Model</class>
                <resourceModel>hackathongi_eshopinion_mysql4</resourceModel>
            </hackathongi_eshopinion>
            <hackathongi_eshopinion_mysql4>
                <class>Hackathongirona_Eshopinion_Model_Mysql4</class>
                <entities>
                    <hackathongi_eshopinion>
                        <table>hackathongi_eshopinion</table>
                    </hackathongi_eshopinion>
                </entities>
            </hackathongi_eshopinion_mysql4>
        </models>
        <helpers>
            <hackathongi_eshopinion>
                <class>Hackathongirona_Eshopinion_Helper</class>
            </hackathongi_eshopinion>
        </helpers>
        <resources>
            <hackathongi_eshopinion_setup>
                <setup>
                    <module>Hackathongirona_Eshopinion</module>
                    <class>Hackathongirona_Eshopinion_Model_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </hackathongi_eshopinion_setup>
            <hackathongi_eshopinion_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </hackathongi_eshopinion_write>
            <hackathongi_eshopinion_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </hackathongi_eshopinion_read>
        </resources>
    </global>
    <crontab>
        <jobs>
            <hackathongi_eshopinion_send_to_api>
                <schedule>
                    <cron_expr>* * * * *</cron_expr>
                </schedule>
                <run>
                    <model>hackathongi_eshopinion/observer::sendShipmentsToApi</model>
                </run>
            </hackathongi_eshopinion_send_to_api>
        </jobs>
    </crontab>
    <default>
        <hackathongi_eshopinion>
            <eshopinion_config>
                <cron_interval>0</cron_interval>
            </eshopinion_config>
        </hackathongi_eshopinion>
    </default>
</config>
